body{
  background-color: rgb(142, 90, 184);
}
#wholeform{
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;

}
#textdiv{
  justify-content: center;
   
}
h1 {
  text-align: center;
  color: #333;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  background-color: rgb(142, 90, 184);;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
   
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: #fff;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

::placeholder{
  color: #fff;
}

#total{
color: #fff;
}



